body {
    font-family: Arial, sans-serif;
    color: #4a4a40;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #4a4a40;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f8f6f6;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #f7f5f5;
    color: #4a4a40;
  }

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
}

table th {
    background-color: #eaeaea;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.item {
    width: 15%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

p {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

h3 {
    margin-top: 5px;
}
.end {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .end b {
    font-weight: bold;
  }
