
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navigation Styles */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #f8f6f6;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul li a:hover {
    background-color: #f7f5f5;
    color: #0c0c0c;
  }

  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  /* About section */
  .about {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Footer */
  .end {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .end b {
    font-weight: bold;
  }
  
  
  